@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    overflow-y: scroll;
    background-color: white;
}

#root{
    max-width: 1300px;
    margin: 0 auto;
}

textarea {
    resize: none;
}

.link {
    color: blue;
}

.link:hover {
    border-bottom: 2px solid blue;
}
